<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.Name" dir="@(CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Modern/assets/css/styles.css" />

</head>
<body class="layout has-sidebar">
    <div id="main-wrapper" class="auth-customizer-none">
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/Modern/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Modern/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Modern/assets/js/theme/app.init.js"></script>
    <script src="~/Modern/assets/js/theme/theme.js"></script>
    <script src="~/Modern/assets/js/theme/app.min.js"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
